#sidebar {
  background: #f3eaff;
  position: fixed;
  top: 0; left: 0; bottom: 0;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 15px 0 30px 30px;
  border-right: 1px solid #d4b4ff;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(0.92, transparent), color-stop(0.9201, rgba(212, 180, 255, 0.0)), to(rgba(212, 180, 255, 0.3))), #f3eaff;
}
ul.toc_section {
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0 0;
  padding-left: 0px;
  list-style-type: none;
}
.toc_section li {
  margin: 0 0 3px 0;
}
.toc_section li a {
  text-decoration: none;
  color: black;
}

